
body {
    background: ##d9d7e0;
    width: 100%;
}
/* 헤더 */
#header {position: fixed; left: 0; top: 0;  border-bottom: 1px solid #ccc; width: 100%; height: 50px; background: #fff;}
.header h1 {float: left; position: relative;}
.header h1 em {padding: 8px 8px 3px 0px; display: inline-block;}
.header h1 em img {width: 155px; }
.header h1 strong {display: block; position: absolute; left: 170px; top: 14px;}
.header h1 strong img {width: 157px;}
.header .nav {float: right; }
.header .nav ul {border-left: 1px solid #c6c6c6;}
.header .nav li {float: left; width: 150px; text-align: center; border-right: 1px solid #c6c6c6; }
.header .nav li a {display: block; padding: 14px 10px; font-size: 15px; font-weight: 700; color: #444;}
/* 가운데 영역 */
.container {position: relative; width: 1280px; margin: 0 auto; /* background:rgba(0,0,0,0.1); */ }

/* 로우 영역 */
.row {padding: 0 16px;}

/* clearfix */
.clearfix{*zoom:1;}
.clearfix:before, .clearfix:after {display: block; content: '';line-height: 0;}
.clearfix:after {clear: both;}


h3 {
    font-size: 25px;
    margin-left: 40px;
    margin-top: 30px;
    font-weight: bold;
    
    z-index: 10;
}

.container_2 {
    position: absolute;
    width: 1000px;
    height: 630px;
    top: 10%;
    left: 5%;
    background-color: #cccccc;
    z-index: 9;
    overflow: hidden;
}

.title {
    position: relative;
    display: table;
    margin-top: 50px;
    margin-left: 10px;
    width: 100px;
    height: 45px;
    background-color: #ffffff;
    text-align: center;
    padding: auto;
    border-radius: 4px;
}

.title p {
    display: table-cell;
    font-size: 15px;
    font-weight: bold;
    vertical-align: middle;
}

.input {
    position: relative;
    resize: none;
    margin-top: 55px;
    margin-left: 8px;
    width: 300px;
    height: 30px;   
    padding: auto;
    border-radius: 4px;
}
#input_showtime {
    width: 200px;
}

#introduction {
    height: 100px;
}
#select_img {
    position: relative;
    resize: none;
    margin-top: 50px;
    margin-left: 8px;
    width: 150px;
    height: 200px;
    border-radius: 4px;
}
#select_img img {
    width: 100%;
    height: 100%;
}

#main {
    margin-left: 20px;
}
.right_td {
    padding-left: 50px;
}

.showtime_btn {
    background-color: #333333;
    border-radius: 3px;
    color: #ffffff;
    font-weight: bold;
    width: 120px;
    height: 40px;
    cursor: pointer;
    border: none;
}

.check {
    position: absolute;
    margin-left: auto;
    bottom: 20px;
    text-align: center;
    padding: auto;
    left: 50%;
    transform: translate(-50%, 0%);
}

.check_btn {
    background-color: #333333;
    border-radius: 3px;
    color: #ffffff;
    font-weight: bold;
    width: 100px;
    height: 40px;
    cursor: pointer;
    border: none;
}

.add_file {
    position: relative;
    display: table;
    margin-top: 20px;
    margin-left: 20px;
    width: 80px;
    height: 30px;
    color: #ffffff;
    text-align: center;
    padding: auto;
    background-color: #000000;
    border-radius: 2px;
    border: none;
    cursor: pointer;
}

textarea {
    padding-top: 13px;
    padding-left: 10px;
}

#add_theater_table {
    position: absolute;
    top: 3px;
    left: 645px;
    width: 200px;
    height: auto;
    background-color: #ffffff;
    padding: 10px;
}

.theaters {
    padding-bottom: 10px;
    font-size: 14px;
}

#add_theater_btn {
    width: 100%;
    height: 30px;
    background-color:dodgerblue;
    color: white;
    font-weight: bold;
    border-radius: 3px;
    border: none;
    cursor: pointer;
}

.delete {
    width: 20px;
    height: 20px;
}

#theater_name_select {
    position: relative;
    display: table;
    margin-top: 50px;
    margin-left: 10px;
    width: 213px;
    height: 45px;
    background-color: #ffffff;
    padding: auto;
    border-radius: 4px;
}

.showtime {
    position: absolute;
    resize: none;
    top: 50px;
    left: 400px;   
    padding: auto;
    border-radius: 4px;
}

#showtime_table {
    border-collapse: collapse;
    width: 500px;
    
}

#showtime_table th{
    background-color: cccccc;
    border: 1px solid grey;
}
#showtime_table td{
    background-color: #ffffff;
    padding: 5px;
    border: 1px solid grey;
}

#showtime_table td:last-child {
    background-color: rgba( 255, 255, 255, 0 );
    border: none;
}

.new_input {
    color: grey;
}

#add_showtime_btn {
    width: 92%;
    height: 30px;
    background-color: dodgerblue;
    text-align: center;
    border-radius: 2px;
    border: none;
    color: #ffffff;
    font-weight: bold;
    margin-top: 1px;
    cursor: pointer;
}

.upload-name {
    display: inline-block;
    height: 40px;
    padding: 0 10px;
    vertical-align: middle;
    border: 1px solid #dddddd;
    width: 78%;
    color: #999999;
}



input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}

.input_theater {
    position: relative;
    resize: none;
    font-size: 14px;
    width: 150px;
    height: 25px;
    padding: 2px;
    border-radius: 4px;
}