<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="format-detection" content="telephone=no">
    <meta name="author" content="codebox">
    <title>CODEBOX</title>

    <!-- css -->
    <link rel="stylesheet" href="../assets/css/reset19.css">
    <link rel="stylesheet" href="../assets/css/style19.css">
    <link rel="stylesheet" href="../assets/css/swiper.css">
    <link rel="shortcut icon" href="../assets/icons/logo2.ico">

    <!-- 웹 폰트 -->
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&amp;subset=korean" rel="stylesheet">

    <!-- HTLM5shiv ie6~8 -->
    <!--[if lt IE 9]>
    <script src="../assets/js/html5shiv.min.js"></script>
    <script type="text/javascript">
        alert("현재 브라우저는 지원하지 않습니다. 크롬 브라우저를 추천합니다.!");
    </script>
    <![endif]-->
</head>
<body>

<header id="header">
    <div class="container">
        <div class="row">
            <div class="header clearfix">
                <h1>
                    <a href="/">
                        <em><img src="../assets/img/Logo1.png" alt="MEGABOX"></em>
                        <strong><img src="../assets/img/subLogo1.png" alt="LIFE THEATER"></strong>
                    </a>
                </h1>
                <nav class="nav">
                    <ul class="clearfix">
                        <li><a href="/#movie">영화</a></li>
                        <li><a href="reserve.html">영화 예매</a></li>
                        <li><a href="/#help">예약확인</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- //header -->



<section id="new">
    <div class="container">
        <div class="row">
            <div class="new">
                <h2><em>영화 상세 정보</em></h2>
                <div class="new_left">
                    <div class="play" id="showTrailer" data-youtube={{Video}}>
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                             viewBox="0 0 120 120" style="enable-background:new 0 0 120 120;" xml:space="preserve">
                                <circle class="st0" cx="60" cy="60.4" r="56"/>
                            <path class="st1" d="M81,65.4c4.8-2.8,4.8-7.2,0-10L53.5,39.6c-4.8-2.8-8.7-0.5-8.7,5v31.7c0,5.5,3.9,7.8,8.7,5L81,65.4z"/>
                            </svg>
                    </div>
                </div>
                <div class="new_right">
                    <h3 class="title">{{MovieName}}</h3>
                    <span class="release">{{year}}년 {{month}}월 {{day}}일 개봉</span>

                    <ul class="summary">
                        <li class="genre"><span class="bar">장르 : {{Genre}}</span></li>
                        <li class="age"><span class="bar">시간 : {{RunningTime}}분</span><br><span>관람가 :{{Age}}세 이상 관람가</span></li>
                        <li class="desc">{{Mdescription}}</li>
                    </ul>

                    <div class="btn">
                        <a href="/" class="white">예매하기</a>
                        <a href="/#movie" class="purple">돌아가기</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //new -->


<footer id="footer">
    <div id="footer_infor">
        <div class="container">
            <div class="row">
                <div class="footer_infor">
                    <h2><img src="../assets/img/logo_footer1.png" alt="megabox"></h2>
                    <address>
                        <p>서울특별시 중구 필동로 1길 30<br><span class="bar2">소프트웨어 공학개론</span> Team 코드박스<br><span class="bar2">도승희 박지은 안도영 이진오 조영욱</span> </p>
                        <p>Copyright 2021 by CodeBox. All right reserved</p>
                    </address>
                </div>
            </div>
        </div>
    </div>
</footer>

<aside role="complementary" id="blackout" class="overlay">
    <div id="trailerModal" class="modal">
        <div id="trailer"></div><!-- YouTube 플레이어로 대체되는 부분 -->
    </div>
    <button id="hideTrailer" class="modal_close">닫기</button>
</aside>

<!-- 자바스크립트 라이브러리 -->
<script src="../assets/js/jquery.min_1.12.4.js"></script>
<script src="../assets/js/modernizr-custom.js"></script>
<script src="../assets/js/ie-checker.js"></script>
<script src="../assets/js/swiper.min.js"></script>
<script src="../assets/js/iframe_api.js"></script>
<script src="../assets/js/movie.js"></script>
</body>
</html>
